{%- liquid
  assign money_price = price | money_without_currency

  assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
  assign money_symbol_decimals = '.'
  
  if currencies_using_comma_decimals contains cart.currency.iso_code
    assign money_symbol_decimals = ','
  endif

  assign money_replace_decimals = '<sup>' | append: money_symbol_decimals
-%}

<bdi><span>{{ cart.currency.symbol }}</span>{{ money_price | replace: money_symbol_decimals, money_replace_decimals }}</sup></bdi>
