{%- if settings.page_transition_enabled -%}
  {{ 'transition-cover.css' | asset_url | stylesheet_tag: preload: true }}
  <div class="transition-cover">
    <span class="loading-bar"></span>
  </div>
{%- endif -%}